@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  padding: 0px;
  margin: 0;
  background-color: whitesmoke;
  color: #000000;
  overflow-x: hidden;
  /* box-sizing: border-box; */
  height: 100%;
  width: 100%;
}

.navbar{
  transition: all 0.3s ease-out;
  background-color: white !important;
  z-index: 100;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image{
  clip-path: polygon(0 0, 32% 0, 100% 100%, 0% 100%);
}

.carousel {
  height: 100%; /* 100% of the viewport height */
}

.carousel div{
  height: 100%; /* 100% of the viewport height */
}

.carousel div img{
  height: 90vh; /* 100% of the viewport height */
  
}